<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>
</head>
<body>
    <form action="/calculator-result" method="post">
        <label>
            <span>A</span>
            <input type="number" name="value_a" placeholder="Insert Number A" required />
        </label>
        <label>
            <span>Operation</span>
            <select name="op">
                <option value="plus">+</option>
                <option value="minus">-</option>
                <option value="multiply">*</option>
                <option value="divide">/</option>
            </select>
        </label>
        <label>
            <span>B</span>
            <input type="number" name="value_b" placeholder="Insert Number B" required />
        </label>
        <button type="submit" style="background-color: rgb(8, 104, 64); color: white;">Calculate</button>
    </form>
</body>
</html>