body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #ffffff;
    text-decoration: none;
    margin: 0px;
    padding: 30px 0px;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}

header a {
    text-decoration: none;
    margin-right: 10px;
    font-size: larger;
    color: black;
}

.logo h1 {
    margin: 0px 0px 0px 40px;
}

.navigation a {
    font-size: x-large;
    font-weight: lighter;
}

.navigation ul {
    display: flex;
    list-style: none;
}

.navigation 

#container {
    min-width: 33%;
    padding: 0px 30px;
    margin: 0px 30px;
}

.categories ul {
    display: grid;
    grid-template-columns: repeat(9, auto);
    margin-top: 200px;
}

.categories li {
    list-style: none;
    padding-top: 4px; 
    padding-right: 5px;   
}

.categories a {
    align-items: left;
    text-decoration: none;
    color: black;
}

.nav-main {
    padding-left: 0px;
}

.nav-cat {
    width: 100%;
    grid-column-end: span 10;
    font-weight: 600;
}

#boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-content: space-evenly;
    align-items: top;
    gap: 30px;
    grid-auto-rows: auto;
    grid-auto-columns: auto;
}

.box-info h6 {
    font-weight: 100;
    font-size: 14px;
    margin: 10px 0px;
}

.box img {
    width: 350px;
}

.box-title a {
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: black;
}

.stories {
    margin: 0px 30px;
    padding: 70px 0px;
}

footer {
    min-width: 33%;
    border-top: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 30px;
    position: relative;
    margin: 0px;
}

footer h4 {
    margin: 5px 0px;
    font-weight: lighter;
}

.foot-left a {
    text-decoration: none;
    color: black;
}

.foot-right a {
    text-decoration: none;
    color: black;
    text-align: right;
}