body {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 16px;
}

main {
    height: 100%;
    margin: 30px 50px;
}

header {
    width: 100%;
}

.logo-slogan {
    width: 100%;
    background-color: #bebebe;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 25px;

}

.logo-header {
    width: 100%;
    background-color: #bebebe;
    text-align: center;
    padding: 60px 0px 80px 0px;
    margin-bottom: 25px;
}

.nav-logo {
    width: 100%;
    margin-top: 0px;
}

.nav-logo ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 0px;
    margin-bottom: 0px;
}

.nav-logo li {
    background-color: #bebebe;
    list-style: none; 
    margin: 0px 25px 0px 0px;
    padding: 5px 0px;
}

.nav-logo li:last-child {
    margin-right: 0px;
}

.nav-logo a {
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: bold;
}

.block {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 25px;
}

.block-1 {
    display: grid;
    background-color: #bebebe;
    padding: 150px;
    grid-row: span 2;
    margin-top: 25px;
}

.block-2 {
    display: grid;
    background-color: #bebebe;
    margin-top: 25px;
}

.block-3 {
    display: grid;
    background-color: #bebebe;
    margin-top: 25px;
}

footer {
    display: grid;
    background-color: #bebebe;
    margin-top: 25px;
}



